@import "tailwindcss";

@theme {
    --color-navy-500: #1d118c;
    --color-navy-300: #362c8f;
    --color-navy-100: #746fa3;
    --color-bermuda: #78dcca;

}

* {
    box-sizing: border-box !important;

}

html,
body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

/* .clip-path{
    clip-path: polygon(0% 0%,0% 71.218%,0.089% 71.227%,0.177% 71.237%,0.266% 71.248%,0.355% 71.26%,0.443% 71.273%,0.532% 71.287%,0.621% 71.302%,0.709% 71.317%,0.798% 71.334%,0.887% 71.352%,0.975% 71.371%,1.064% 71.391%,1.152% 71.412%,1.241% 71.434%,1.33% 71.457%,1.418% 71.481%,1.507% 71.506%,1.596% 71.531%,1.684% 71.558%,1.773% 71.586%,1.862% 71.615%,1.95% 71.644%,2.039% 71.675%,2.128% 71.707%,2.216% 71.739%,2.305% 71.773%,2.394% 71.807%,2.482% 71.843%,2.571% 71.879%,2.66% 71.917%,2.748% 71.955%,2.837% 71.994%,2.926% 72.034%,3.014% 72.076%,3.103% 72.118%,3.191% 72.161%,3.28% 72.205%,3.369% 72.25%,3.457% 72.296%,3.546% 72.342%,3.635% 72.39%,3.723% 72.439%,3.812% 72.488%,3.901% 72.538%,3.989% 72.59%,4.078% 72.642%,4.167% 72.695%,4.255% 72.749%,4.344% 72.804%,4.433% 72.86%,4.521% 72.917%,4.61% 72.974%,4.699% 73.033%,4.787% 73.092%,4.876% 73.152%,4.965% 73.213%,5.053% 73.275%,5.142% 73.338%,5.23% 73.401%,5.319% 73.466%,5.408% 73.531%,5.496% 73.597%,5.585% 73.664%,5.674% 73.732%,5.762% 73.801%,5.851% 73.87%,5.94% 73.94%,6.028% 74.011%,6.117% 74.083%,6.206% 74.156%,6.294% 74.229%,6.383% 74.304%,6.472% 74.379%,6.56% 74.454%,6.649% 74.531%,6.738% 74.608%,6.826% 74.687%,6.915% 74.765%,7.004% 74.845%,7.092% 74.925%,7.181% 75.007%,7.27% 75.088%,7.358% 75.171%,7.447% 75.254%,7.535% 75.338%,7.624% 75.423%,7.713% 75.508%,7.801% 75.595%,7.89% 75.681%,7.979% 75.769%,8.067% 75.857%,8.156% 75.946%,8.245% 76.036%,8.333% 76.126%,8.422% 76.217%,8.511% 76.308%,8.599% 76.4%,8.688% 76.493%,8.777% 76.586%,8.865% 76.681%,8.954% 76.775%,9.043% 76.871%,9.131% 76.966%,9.22% 77.063%,9.309% 77.16%,9.397% 77.258%,9.486% 77.356%,9.574% 77.455%,9.663% 77.554%,9.752% 77.654%,9.84% 77.755%,9.929% 77.856%,10.018% 77.957%,10.106% 78.059%,10.195% 78.162%,10.284% 78.265%,10.372% 78.369%,10.461% 78.473%,10.55% 78.577%,10.638% 78.683%,10.727% 78.788%,10.816% 78.894%,10.904% 79.001%,10.993% 79.108%,11.082% 79.215%,11.17% 79.323%,11.259% 79.432%,11.348% 79.54%,11.436% 79.65%,11.525% 79.759%,11.613% 79.869%,11.702% 79.98%,11.791% 80.09%,11.879% 80.202%,11.968% 80.313%,12.057% 80.425%,12.145% 80.537%,12.234% 80.65%,12.323% 80.763%,12.411% 80.876%,12.5% 80.99%,12.589% 81.104%,12.677% 81.218%,12.766% 81.333%,12.855% 81.447%,12.943% 81.563%,13.032% 81.678%,13.121% 81.794%,13.209% 81.91%,13.298% 82.026%,13.387% 82.142%,13.475% 82.259%,13.564% 82.376%,13.652% 82.493%,13.741% 82.611%,13.83% 82.728%,13.918% 82.846%,14.007% 82.964%,14.096% 83.082%,14.184% 83.2%,14.273% 83.319%,14.362% 83.437%,14.45% 83.556%,14.539% 83.675%,14.628% 83.794%,14.716% 83.914%,14.805% 84.033%,14.894% 84.152%,14.982% 84.272%,15.071% 84.391%,15.16% 84.511%,15.248% 84.631%,15.337% 84.751%,15.426% 84.871%,15.514% 84.991%,15.603% 85.111%,15.691% 85.231%,15.78% 85.351%,15.869% 85.471%,15.957% 85.591%,16.046% 85.711%,16.135% 85.831%,16.223% 85.951%,16.312% 86.071%,16.401% 86.191%,16.489% 86.311%,16.578% 86.431%,16.667% 86.551%,16.755% 86.67%,16.844% 86.79%,16.933% 86.91%,17.021% 87.029%,17.11% 87.149%,17.199% 87.268%,17.287% 87.387%,17.376% 87.506%,17.465% 87.625%,17.553% 87.744%,17.642% 87.863%,17.73% 87.981%,17.819% 88.1%,17.908% 88.218%,17.996% 88.336%,18.085% 88.453%,18.174% 88.571%,18.262% 88.688%,18.351% 88.806%,18.44% 88.923%,18.528% 89.039%,18.617% 89.156%,18.706% 89.272%,18.794% 89.388%,18.883% 89.504%,18.972% 89.619%,19.06% 89.734%,19.149% 89.849%,19.238% 89.964%,19.326% 90.078%,19.415% 90.192%,19.504% 90.305%,19.592% 90.419%,19.681% 90.532%,19.77% 90.644%,19.858% 90.757%,19.947% 90.868%,20.035% 90.98%,20.124% 91.091%,20.213% 91.202%,20.301% 91.312%,20.39% 91.422%,20.479% 91.532%,20.567% 91.641%,20.656% 91.75%,20.745% 91.858%,20.833% 91.966%,20.922% 92.074%,21.011% 92.181%,21.099% 92.287%,21.188% 92.393%,21.277% 92.499%,21.365% 92.604%,21.454% 92.709%,21.543% 92.813%,21.631% 92.917%,21.72% 93.02%,21.809% 93.122%,21.897% 93.224%,21.986% 93.326%,22.074% 93.427%,22.163% 93.528%,22.252% 93.627%,22.34% 93.727%,22.429% 93.826%,22.518% 93.924%,22.606% 94.022%,22.695% 94.119%,22.784% 94.215%,22.872% 94.311%,22.961% 94.406%,23.05% 94.501%,23.138% 94.595%,23.227% 94.688%,23.316% 94.781%,23.404% 94.873%,23.493% 94.965%,23.582% 95.056%,23.67% 95.146%,23.759% 95.236%,23.848% 95.324%,23.936% 95.413%,24.025% 95.5%,24.113% 95.587%,24.202% 95.673%,24.291% 95.759%,24.379% 95.843%,24.468% 95.927%,24.557% 96.011%,24.645% 96.093%,24.734% 96.175%,24.823% 96.256%,24.911% 96.337%,25% 96.416%,25.089% 96.495%,25.177% 96.573%,25.266% 96.65%,25.355% 96.727%,25.443% 96.803%,25.532% 96.878%,25.621% 96.952%,25.709% 97.026%,25.798% 97.098%,25.887% 97.17%,25.975% 97.241%,26.064% 97.311%,26.152% 97.381%,26.241% 97.45%,26.33% 97.517%,26.418% 97.584%,26.507% 97.65%,26.596% 97.716%,26.684% 97.78%,26.773% 97.844%,26.862% 97.907%,26.95% 97.968%,27.039% 98.029%,27.128% 98.09%,27.216% 98.149%,27.305% 98.207%,27.394% 98.265%,27.482% 98.322%,27.571% 98.377%,27.66% 98.432%,27.748% 98.486%,27.837% 98.54%,27.926% 98.592%,28.014% 98.643%,28.103% 98.693%,28.191% 98.743%,28.28% 98.792%,28.369% 98.839%,28.457% 98.886%,28.546% 98.932%,28.635% 98.977%,28.723% 99.021%,28.812% 99.064%,28.901% 99.106%,28.989% 99.147%,29.078% 99.187%,29.167% 99.227%,29.255% 99.265%,29.344% 99.302%,29.433% 99.339%,29.521% 99.374%,29.61% 99.409%,29.699% 99.442%,29.787% 99.475%,29.876% 99.507%,29.965% 99.537%,30.053% 99.567%,30.142% 99.596%,30.23% 99.623%,30.319% 99.65%,30.408% 99.676%,30.496% 99.701%,30.585% 99.725%,30.674% 99.748%,30.762% 99.769%,30.851% 99.79%,30.94% 99.81%,31.028% 99.829%,31.117% 99.847%,31.206% 99.864%,31.294% 99.88%,31.383% 99.895%,31.472% 99.909%,31.56% 99.922%,31.649% 99.934%,31.738% 99.945%,31.826% 99.955%,31.915% 99.964%,32.004% 99.972%,32.092% 99.979%,32.181% 99.985%,32.27% 99.99%,32.358% 99.994%,32.447% 99.997%,32.535% 99.999%,32.624% 100%,32.713% 100%,32.801% 99.999%,32.89% 99.997%,32.979% 99.994%,33.067% 99.99%,33.156% 99.985%,33.245% 99.979%,33.333% 99.972%,33.422% 99.964%,33.511% 99.955%,33.599% 99.945%,33.688% 99.934%,33.777% 99.922%,33.865% 99.909%,33.954% 99.895%,34.043% 99.88%,34.131% 99.864%,34.22% 99.847%,34.309% 99.829%,34.397% 99.81%,34.486% 99.79%,34.574% 99.769%,34.663% 99.747%,34.752% 99.724%,34.84% 99.701%,34.929% 99.676%,35.018% 99.65%,35.106% 99.623%,35.195% 99.595%,35.284% 99.567%,35.372% 99.537%,35.461% 99.506%,35.55% 99.475%,35.638% 99.442%,35.727% 99.408%,35.816% 99.374%,35.904% 99.338%,35.993% 99.302%,36.082% 99.265%,36.17% 99.226%,36.259% 99.187%,36.348% 99.147%,36.436% 99.106%,36.525% 99.063%,36.613% 99.02%,36.702% 98.976%,36.791% 98.931%,36.879% 98.886%,36.968% 98.839%,37.057% 98.791%,37.145% 98.743%,37.234% 98.693%,37.323% 98.643%,37.411% 98.591%,37.5% 98.539%,37.589% 98.486%,37.677% 98.432%,37.766% 98.377%,37.855% 98.321%,37.943% 98.264%,38.032% 98.207%,38.121% 98.148%,38.209% 98.089%,38.298% 98.029%,38.387% 97.968%,38.475% 97.906%,38.564% 97.843%,38.652% 97.78%,38.741% 97.715%,38.83% 97.65%,38.918% 97.584%,39.007% 97.517%,39.096% 97.449%,39.184% 97.38%,39.273% 97.311%,39.362% 97.241%,39.45% 97.17%,39.539% 97.098%,39.628% 97.025%,39.716% 96.952%,39.805% 96.877%,39.894% 96.802%,39.982% 96.726%,40.071% 96.65%,40.16% 96.572%,40.248% 96.494%,40.337% 96.415%,40.426% 96.336%,40.514% 96.255%,40.603% 96.174%,40.691% 96.092%,40.78% 96.01%,40.869% 95.927%,40.957% 95.843%,41.046% 95.758%,41.135% 95.672%,41.223% 95.586%,41.312% 95.499%,41.401% 95.412%,41.489% 95.324%,41.578% 95.235%,41.667% 95.145%,41.755% 95.055%,41.844% 94.964%,41.933% 94.873%,42.021% 94.78%,42.11% 94.688%,42.199% 94.594%,42.287% 94.5%,42.376% 94.405%,42.465% 94.31%,42.553% 94.214%,42.642% 94.118%,42.73% 94.021%,42.819% 93.923%,42.908% 93.825%,42.996% 93.726%,43.085% 93.627%,43.174% 93.527%,43.262% 93.426%,43.351% 93.325%,43.44% 93.223%,43.528% 93.121%,43.617% 93.019%,43.706% 92.916%,43.794% 92.812%,43.883% 92.708%,43.972% 92.603%,44.06% 92.498%,44.149% 92.392%,44.238% 92.286%,44.326% 92.18%,44.415% 92.073%,44.504% 91.965%,44.592% 91.857%,44.681% 91.749%,44.77% 91.64%,44.858% 91.531%,44.947% 91.421%,45.035% 91.311%,45.124% 91.201%,45.213% 91.09%,45.301% 90.979%,45.39% 90.867%,45.479% 90.756%,45.567% 90.643%,45.656% 90.531%,45.745% 90.418%,45.833% 90.304%,45.922% 90.191%,46.011% 90.077%,46.099% 89.963%,46.188% 89.848%,46.277% 89.733%,46.365% 89.618%,46.454% 89.503%,46.543% 89.387%,46.631% 89.271%,46.72% 89.155%,46.809% 89.038%,46.897% 88.921%,46.986% 88.805%,47.074% 88.687%,47.163% 88.57%,47.252% 88.452%,47.34% 88.335%,47.429% 88.217%,47.518% 88.098%,47.606% 87.98%,47.695% 87.862%,47.784% 87.743%,47.872% 87.624%,47.961% 87.505%,48.05% 87.386%,48.138% 87.267%,48.227% 87.148%,48.316% 87.028%,48.404% 86.909%,48.493% 86.789%,48.582% 86.669%,48.67% 86.55%,48.759% 86.43%,48.848% 86.31%,48.936% 86.19%,49.025% 86.07%,49.113% 85.95%,49.202% 85.83%,49.291% 85.71%,49.379% 85.59%,49.468% 85.47%,49.557% 85.35%,49.645% 85.23%,49.734% 85.109%,49.823% 84.99%,49.911% 84.87%,50% 84.75%,50.089% 84.63%,50.177% 84.51%,50.266% 84.39%,50.355% 84.271%,50.443% 84.151%,50.532% 84.032%,50.621% 83.912%,50.709% 83.793%,50.798% 83.674%,50.887% 83.555%,50.975% 83.436%,51.064% 83.318%,51.152% 83.199%,51.241% 83.081%,51.33% 82.963%,51.418% 82.845%,51.507% 82.727%,51.596% 82.609%,51.684% 82.492%,51.773% 82.375%,51.862% 82.258%,51.95% 82.141%,52.039% 82.025%,52.128% 81.909%,52.216% 81.793%,52.305% 81.677%,52.394% 81.562%,52.482% 81.446%,52.571% 81.332%,52.66% 81.217%,52.748% 81.103%,52.837% 80.989%,52.926% 80.875%,53.014% 80.762%,53.103% 80.649%,53.191% 80.536%,53.28% 80.424%,53.369% 80.312%,53.457% 80.201%,53.546% 80.089%,53.635% 79.979%,53.723% 79.868%,53.812% 79.758%,53.901% 79.649%,53.989% 79.539%,54.078% 79.431%,54.167% 79.322%,54.255% 79.214%,54.344% 79.107%,54.433% 79%,54.521% 78.893%,54.61% 78.787%,54.699% 78.682%,54.787% 78.577%,54.876% 78.472%,54.965% 78.368%,55.053% 78.264%,55.142% 78.161%,55.23% 78.058%,55.319% 77.956%,55.408% 77.855%,55.496% 77.754%,55.585% 77.653%,55.674% 77.553%,55.762% 77.454%,55.851% 77.355%,55.94% 77.257%,56.028% 77.159%,56.117% 77.062%,56.206% 76.966%,56.294% 76.87%,56.383% 76.774%,56.472% 76.68%,56.56% 76.586%,56.649% 76.492%,56.738% 76.399%,56.826% 76.307%,56.915% 76.216%,57.004% 76.125%,57.092% 76.035%,57.181% 75.945%,57.27% 75.856%,57.358% 75.768%,57.447% 75.681%,57.535% 75.594%,57.624% 75.508%,57.713% 75.422%,57.801% 75.338%,57.89% 75.253%,57.979% 75.17%,58.067% 75.088%,58.156% 75.006%,58.245% 74.925%,58.333% 74.844%,58.422% 74.765%,58.511% 74.686%,58.599% 74.608%,58.688% 74.53%,58.777% 74.454%,58.865% 74.378%,58.954% 74.303%,59.043% 74.229%,59.131% 74.155%,59.22% 74.083%,59.309% 74.011%,59.397% 73.94%,59.486% 73.869%,59.574% 73.8%,59.663% 73.731%,59.752% 73.664%,59.84% 73.597%,59.929% 73.531%,60.018% 73.465%,60.106% 73.401%,60.195% 73.337%,60.284% 73.274%,60.372% 73.213%,60.461% 73.152%,60.55% 73.091%,60.638% 73.032%,60.727% 72.974%,60.816% 72.916%,60.904% 72.859%,60.993% 72.804%,61.082% 72.749%,61.17% 72.695%,61.259% 72.642%,61.348% 72.589%,61.436% 72.538%,61.525% 72.488%,61.613% 72.438%,61.702% 72.39%,61.791% 72.342%,61.879% 72.295%,61.968% 72.249%,62.057% 72.204%,62.145% 72.16%,62.234% 72.117%,62.323% 72.075%,62.411% 72.034%,62.5% 71.994%,62.589% 71.955%,62.677% 71.916%,62.766% 71.879%,62.855% 71.843%,62.943% 71.807%,63.032% 71.773%,63.121% 71.739%,63.209% 71.706%,63.298% 71.675%,63.387% 71.644%,63.475% 71.614%,63.564% 71.586%,63.652% 71.558%,63.741% 71.531%,63.83% 71.505%,63.918% 71.481%,64.007% 71.457%,64.096% 71.434%,64.184% 71.412%,64.273% 71.391%,64.362% 71.371%,64.45% 71.352%,64.539% 71.334%,64.628% 71.317%,64.716% 71.301%,64.805% 71.286%,64.894% 71.272%,64.982% 71.259%,65.071% 71.248%,65.16% 71.237%,65.248% 71.227%,65.337% 71.218%,65.426% 71.21%,65.514% 71.203%,65.603% 71.197%,65.691% 71.192%,65.78% 71.188%,65.869% 71.185%,65.957% 71.183%,66.046% 71.182%,66.135% 71.182%,66.223% 71.183%,66.312% 71.185%,66.401% 71.188%,66.489% 71.192%,66.578% 71.197%,66.667% 71.203%,66.755% 71.21%,66.844% 71.218%,66.933% 71.227%,67.021% 71.237%,67.11% 71.248%,67.199% 71.26%,67.287% 71.273%,67.376% 71.287%,67.465% 71.302%,67.553% 71.318%,67.642% 71.335%,67.73% 71.353%,67.819% 71.372%,67.908% 71.392%,67.996% 71.412%,68.085% 71.434%,68.174% 71.457%,68.262% 71.481%,68.351% 71.506%,68.44% 71.532%,68.528% 71.559%,68.617% 71.586%,68.706% 71.615%,68.794% 71.645%,68.883% 71.676%,68.972% 71.707%,69.06% 71.74%,69.149% 71.773%,69.238% 71.808%,69.326% 71.843%,69.415% 71.88%,69.504% 71.917%,69.592% 71.956%,69.681% 71.995%,69.77% 72.035%,69.858% 72.076%,69.947% 72.119%,70.035% 72.162%,70.124% 72.206%,70.213% 72.251%,70.301% 72.296%,70.39% 72.343%,70.479% 72.391%,70.567% 72.439%,70.656% 72.489%,70.745% 72.539%,70.833% 72.591%,70.922% 72.643%,71.011% 72.696%,71.099% 72.75%,71.188% 72.805%,71.277% 72.861%,71.365% 72.918%,71.454% 72.975%,71.543% 73.034%,71.631% 73.093%,71.72% 73.153%,71.809% 73.214%,71.897% 73.276%,71.986% 73.339%,72.074% 73.403%,72.163% 73.467%,72.252% 73.532%,72.34% 73.598%,72.429% 73.665%,72.518% 73.733%,72.606% 73.802%,72.695% 73.871%,72.784% 73.942%,72.872% 74.013%,72.961% 74.085%,73.05% 74.157%,73.138% 74.231%,73.227% 74.305%,73.316% 74.38%,73.404% 74.456%,73.493% 74.532%,73.582% 74.61%,73.67% 74.688%,73.759% 74.767%,73.848% 74.846%,73.936% 74.927%,74.025% 75.008%,74.113% 75.09%,74.202% 75.172%,74.291% 75.256%,74.379% 75.34%,74.468% 75.424%,74.557% 75.51%,74.645% 75.596%,74.734% 75.683%,74.823% 75.77%,74.911% 75.859%,75% 75.948%,75.089% 76.037%,75.177% 76.127%,75.266% 76.218%,75.355% 76.31%,75.443% 76.402%,75.532% 76.495%,75.621% 76.588%,75.709% 76.682%,75.798% 76.777%,75.887% 76.872%,75.975% 76.968%,76.064% 77.065%,76.152% 77.162%,76.241% 77.259%,76.33% 77.358%,76.418% 77.456%,76.507% 77.556%,76.596% 77.656%,76.684% 77.756%,76.773% 77.857%,76.862% 77.959%,76.95% 78.061%,77.039% 78.164%,77.128% 78.267%,77.216% 78.371%,77.305% 78.475%,77.394% 78.579%,77.482% 78.685%,77.571% 78.79%,77.66% 78.896%,77.748% 79.003%,77.837% 79.11%,77.926% 79.217%,78.014% 79.325%,78.103% 79.434%,78.191% 79.542%,78.28% 79.651%,78.369% 79.761%,78.457% 79.871%,78.546% 79.982%,78.635% 80.092%,78.723% 80.204%,78.812% 80.315%,78.901% 80.427%,78.989% 80.539%,79.078% 80.652%,79.167% 80.765%,79.255% 80.878%,79.344% 80.992%,79.433% 81.106%,79.521% 81.22%,79.61% 81.335%,79.699% 81.449%,79.787% 81.565%,79.876% 81.68%,79.965% 81.796%,80.053% 81.912%,80.142% 82.028%,80.23% 82.144%,80.319% 82.261%,80.408% 82.378%,80.496% 82.495%,80.585% 82.613%,80.674% 82.73%,80.762% 82.848%,80.851% 82.966%,80.94% 83.084%,81.028% 83.202%,81.117% 83.321%,81.206% 83.44%,81.294% 83.558%,81.383% 83.677%,81.472% 83.796%,81.56% 83.916%,81.649% 84.035%,81.738% 84.154%,81.826% 84.274%,81.915% 84.394%,82.004% 84.513%,82.092% 84.633%,82.181% 84.753%,82.27% 84.873%,82.358% 84.993%,82.447% 85.113%,82.535% 85.233%,82.624% 85.353%,82.713% 85.473%,82.801% 85.593%,82.89% 85.713%,82.979% 85.833%,83.067% 85.953%,83.156% 86.073%,83.245% 86.193%,83.333% 86.313%,83.422% 86.433%,83.511% 86.553%,83.599% 86.673%,83.688% 86.792%,83.777% 86.912%,83.865% 87.031%,83.954% 87.151%,84.043% 87.27%,84.131% 87.389%,84.22% 87.508%,84.309% 87.627%,84.397% 87.746%,84.486% 87.865%,84.574% 87.983%,84.663% 88.102%,84.752% 88.22%,84.84% 88.338%,84.929% 88.456%,85.018% 88.573%,85.106% 88.69%,85.195% 88.808%,85.284% 88.925%,85.372% 89.041%,85.461% 89.158%,85.55% 89.274%,85.638% 89.39%,85.727% 89.506%,85.816% 89.621%,85.904% 89.736%,85.993% 89.851%,86.082% 89.966%,86.17% 90.08%,86.259% 90.194%,86.348% 90.307%,86.436% 90.421%,86.525% 90.534%,86.613% 90.646%,86.702% 90.759%,86.791% 90.87%,86.879% 90.982%,86.968% 91.093%,87.057% 91.204%,87.145% 91.314%,87.234% 91.424%,87.323% 91.534%,87.411% 91.643%,87.5% 91.752%,87.589% 91.86%,87.677% 91.968%,87.766% 92.076%,87.855% 92.183%,87.943% 92.289%,88.032% 92.395%,88.121% 92.501%,88.209% 92.606%,88.298% 92.711%,88.387% 92.815%,88.475% 92.918%,88.564% 93.021%,88.652% 93.124%,88.741% 93.226%,88.83% 93.328%,88.918% 93.429%,89.007% 93.529%,89.096% 93.629%,89.184% 93.729%,89.273% 93.827%,89.362% 93.926%,89.45% 94.023%,89.539% 94.12%,89.628% 94.217%,89.716% 94.313%,89.805% 94.408%,89.894% 94.503%,89.982% 94.597%,90.071% 94.69%,90.16% 94.783%,90.248% 94.875%,90.337% 94.967%,90.426% 95.057%,90.514% 95.148%,90.603% 95.237%,90.691% 95.326%,90.78% 95.414%,90.869% 95.502%,90.957% 95.589%,91.046% 95.675%,91.135% 95.76%,91.223% 95.845%,91.312% 95.929%,91.401% 96.012%,91.489% 96.095%,91.578% 96.176%,91.667% 96.258%,91.755% 96.338%,91.844% 96.418%,91.933% 96.496%,92.021% 96.575%,92.11% 96.652%,92.199% 96.728%,92.287% 96.804%,92.376% 96.879%,92.465% 96.953%,92.553% 97.027%,92.642% 97.1%,92.73% 97.171%,92.819% 97.242%,92.908% 97.313%,92.996% 97.382%,93.085% 97.451%,93.174% 97.519%,93.262% 97.585%,93.351% 97.652%,93.44% 97.717%,93.528% 97.781%,93.617% 97.845%,93.706% 97.908%,93.794% 97.97%,93.883% 98.031%,93.972% 98.091%,94.06% 98.15%,94.149% 98.208%,94.238% 98.266%,94.326% 98.323%,94.415% 98.378%,94.504% 98.433%,94.592% 98.487%,94.681% 98.54%,94.77% 98.593%,94.858% 98.644%,94.947% 98.694%,95.035% 98.744%,95.124% 98.792%,95.213% 98.84%,95.301% 98.887%,95.39% 98.933%,95.479% 98.978%,95.567% 99.022%,95.656% 99.065%,95.745% 99.107%,95.833% 99.148%,95.922% 99.188%,96.011% 99.227%,96.099% 99.266%,96.188% 99.303%,96.277% 99.339%,96.365% 99.375%,96.454% 99.409%,96.543% 99.443%,96.631% 99.475%,96.72% 99.507%,96.809% 99.538%,96.897% 99.567%,96.986% 99.596%,97.074% 99.624%,97.163% 99.651%,97.252% 99.676%,97.34% 99.701%,97.429% 99.725%,97.518% 99.748%,97.606% 99.77%,97.695% 99.791%,97.784% 99.811%,97.872% 99.83%,97.961% 99.847%,98.05% 99.864%,98.138% 99.88%,98.227% 99.895%,98.316% 99.909%,98.404% 99.922%,98.493% 99.934%,98.582% 99.945%,98.67% 99.955%,98.759% 99.964%,98.848% 99.972%,98.936% 99.979%,99.025% 99.985%,99.113% 99.99%,99.202% 99.994%,99.291% 99.997%,99.379% 99.999%,99.468% 100%,99.557% 100%,99.645% 99.999%,99.734% 99.997%,99.823% 99.994%,99.911% 99.99%,100% 99.985%,100.089% 99.979%,100% 0%);
} */


.clip-path {
    /* clip-path: path('M50,0 A1000,1000 0 1,1 50,100 Z'); */
    /* clip-path: path('m928 1045c-273.18 0-494-220.82-494-494 0-273.18 220.82-494 494-494 273.18 0 494 220.82 494 494 0 273.18-220.82 494-494 494z'); */
    /* clip-path: path('m0 285.81c0 0 52-142 168-120 116 22 478 818.19 792 818 314-0.19 644-828 772-828 128 0 188 130 188 130v-285.81h-1920z'); */
    /* clip-path: path('M0,480 C400,680 600,280 1000,480 C1400,680 1600,280 1600,480 L1600,0 L0,0 Z'); */


    clip-path: url(#waveClipPath);
    -webkit-clip-path: url(#waveClipPath);
    /* clip-path: url("../images/New Project.svg#Shape1"); */

}

/* SVG definition for clipping */
/* .clip-path {
  clip-path: url(#upside-down-wave);
} */
/* .svg-defs {
    position: absolute;
    bottom: 0;
    z-index: 100;
}
.svg-defs use{
  animation:move-forever 2s linear infinite;
  &:nth-child(2){ animation-duration:2.5s; animation-delay:-1.5s; }
  &:nth-child(1){ animation-duration:5s}
}
.svg-defs use:first-child{
    filter: white;
}
.svg-defs use:nth-child(2){
    fill: rgba(255, 255, 255, 0.578);
}
.svg-defs use:last-child{
    fill: rgba(255, 255, 255, 0.385);
} */

@keyframes move-forever {
    0% {
        transform: translate(-2px, 0)
    }

    100% {
        transform: translate(0px, 0)
    }
}

/* ///////////////////// */

.card {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    width: 320px;
    max-width: 100%;
    height: 500px;
    border-radius: 16px;
    background: #191919aa;
    background: linear-gradient(180deg,
            #292929aa 0%,
            #191919cc 50%);
    backdrop-filter: blur(4px);
    box-shadow: inset 0 2px 2px 0 #e7c4a088,
        inset 0 -2px 2px 0 #0003;

    color: #ccc;
    text-shadow: 1px 1px 3px #333a;
    padding: 24px;
    padding-right: 42px;
    display: flex;
    flex-direction: column;
    justify-content: end;

    h2,
    p {
        margin: 8px 0;
    }

    h2 {
        font-size: 1.1em;
    }

    p {
        font-size: 0.9em;
        font-weight: 800;
        color: #aaa;
    }

    .button {
        width: fit-content;
        border-radius: 100px;
        padding: 8px 36px;
        margin-top: 12px;
        background: #fff2;
        box-shadow:
            0 0 0 1px #fff3,
            inset 120px 0 100px -100px #000c,
            0 0 0 0 #fff1;

        transition: box-shadow 0.4s ease-in-out;
        cursor: pointer;

        &:hover {
            box-shadow:
                0 0 0 1px #fff3,
                inset 200px 0px 100px -100px #000a,
                -4px 0 8px 2px #fff2;
        }
    }

    img {
        position: absolute;
        top: 32px;
        left: 0;
        right: 0;
        width: 80%;
        margin: auto;
        object-fit: contain;
        user-select: none;
        pointer-events: none;
    }
}

.accents {
    user-select: none;
    pointer-events: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;

    .acc-card {
        width: 330px;
        max-width: 100%;
        height: 500px;
        background: #eee1;
        opacity: 0.8;
        z-index: -1;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: auto;
        border-radius: 16px;
        box-shadow: inset 0 2px 2px 0 #e0c9b266,
            inset 0 -2px 2px 0 #0004;
        backdrop-filter: blur(4px);
        transition: all 0.1s linear;
        transform-origin: 20% 80%;

        &:nth-child(1) {
            animation: wobble 18s ease-in-out infinite;
        }

        &:nth-child(2) {
            animation: wobble 22s ease-in-out -6s infinite reverse;
        }

        &:nth-child(3) {
            animation: wobble 26s ease-in-out -18s infinite;
        }
    }

    .light {
        --bgref: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 487 487'%3E%3Ccircle cx='243' cy='243.5' r='233' style='filter:none; opacity:.1; stroke:%23aaa; stroke-linecap:round; stroke-miterlimit:10; stroke-width:18px;'/%3E%3Ccircle cx='243.5' cy='243.5' r='243' style='filter:none; stroke:%23111; stroke-linecap:round; stroke-miterlimit:10;'/%3E%3Ccircle cx='243' cy='243.5' r='222' style='filter:none; stroke:%23111; stroke-linecap:round; stroke-miterlimit:10;'/%3E%3Cpath d='m10,243.5C10,114.82,114.32,10.5,243,10.5' style='filter:none; stroke:%23ddd; stroke-linecap:round; stroke-miterlimit:10; stroke-width:18px;'/%3E%3C/svg%3E");
        position: absolute;
        left: 0;
        right: calc(0% + 300px);
        top: 264px;
        margin: auto;
        width: 164px;
        height: 164px;
        z-index: -2;
        background-image: var(--bgref);
        animation: rotate360 22s linear infinite;

        &::before,
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            background-image: var(--bgref);
            filter: blur(3px);
            scale: 1.01;
        }

        &::after {
            filter: blur(8px);
        }

        &.sm {
            width: 100px;
            height: 100px;
            left: calc(0% + 300px);
            right: 0;
            top: 142px;
            bottom: 0;
            animation: rotate360 18s linear -10s infinite;
        }
    }
}

@keyframes rotate360 {
    to {
        rotate: 360deg;
    }
}

@keyframes wobble {
    0% {
        transform: translateX(10px) translateY(20px) rotate(-3deg) scale(1);
    }

    20% {
        transform: translateX(-44px) translateY(-8px) rotate(6deg) scale(1.02);
    }

    60% {
        transform: translateX(32px) translateY(18px) rotate(-8deg) scale(1);
    }

    80% {
        transform: translateX(-42px) translateY(-22px) rotate(12deg) scale(0.94);
    }

    100% {
        transform: translateX(10px) translateY(20px) rotate(-3deg) scale(1);
    }
}

/* @media screen and (max-height: 600px) {
    .card {
        height: fit-content !important;

        img {
            display: none;
        }
    }

    .acc-card {
        height: 180px !important;
    }

    .card,
    .accents {
        top: 0;
    }

    .accents {
        .light {
            top: 124px;
            bottom: 0;

            &.sm {
                top: 42px;
            }
        }
    }
} */

.wave-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    overflow: hidden;
    z-index: 6;
    /* transform: rotate(180deg); This flips the entire container */
}

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    fill: rgba(255, 255, 255, 0.7);
    animation: waveMove 3s ease-in-out infinite alternate;
}

.wave2 {
    animation-delay: -1.5s;
    opacity: 0.7;
    fill: rgba(235, 247, 255, 0.5);
}

.wave3 {
    animation-delay: -0.5s;
    opacity: 0.5;
    fill: rgba(255, 255, 255, 0.3);
}

@keyframes waveMove {
    0% {
        transform: translateY(0) scaleY(1);
    }

    100% {
        transform: translateY(10px) scaleY(1.1);
    }
}

.animate__wobble {
    -webkit-animation-name: wobble;
    animation-name: wobble;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes wobble {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    15% {
        -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }

    30% {
        -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }

    45% {
        -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }

    60% {
        -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }

    75% {
        -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes wobble {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    15% {
        -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }

    30% {
        -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }

    45% {
        -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }

    60% {
        -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }

    75% {
        -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.full-rotate {
    -webkit-animation-name: fullRotate;
    animation-name: fullRotate;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-transform: rotate(0);
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    transform: rotate(0);
    transform-origin: 100% 100%;
    -webkit-transform-origin: center 500%;
}

@keyframes fullRotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.buttons {
    position: relative;
    color: white;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 2px solid white;
    border-radius: 1000px;
    /* padding: 10px 20px; */
    /* margin: 40px; */
    box-shadow: 0 2px 5px 0 rgba(3, 6, 26, 0.15);
    transition: .5s all ease-in-out;
}

.buttons:hover {
    cursor: pointer;
    background: white;
    color: #1F4141;
    animation: none;
}

.buttons-pulse {
    animation: pulse 2s infinite 3s cubic-bezier(0.25, 0, 0, 1);
    box-shadow: 0 0 0 0 white;
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 18px rgba(255, 255, 255, 0);
    }
}


.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: rgb(17, 17, 17);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-weight: 600;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing_54134 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.back {
    height: 31rem;
    background: url("../images/back-mobile.jpg");
    background-size: cover;
    /* animation: night 2s cubic-bezier(.05,.85,.78,.35); */
    -webkit-animation-name: night;
    animation-name: night;
    -webkit-animation-duration: 2s;
    animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    /* animation-timing-function:  cubic-bezier(.05,.85,.78,.35);
    -webkit-animation-timing-function:  cubic-bezier(.05,.85,.78,.35); */
    /* animation: night 2s cubic-bezier(.05,.85,.78,.35); */
    /* -webkit-animation: night 2s cubic-bezier(.05,.85,.78,.35); */
}

@-webkit-keyframes night {
    5% {
        filter: blur(1px);
    }

    10% {
        filter: blur(1.25px);
    }

    15% {
        filter: blur(1.75px);
    }

    20% {
        filter: blur(2px);
    }

    25% {
        filter: blur(2.5px);
    }

    30% {
        filter: blur(4px);
    }

    35% {
        filter: blur(4.5px);
    }

    40% {
        filter: blur(6px);
    }

    45% {
        filter: blur(6.5px);
    }

    50% {
        filter: blur(10px);
    }

    55% {
        filter: blur(9px);
    }

    60% {
        filter: blur(8px);
    }

    65% {
        filter: blur(7px);
    }

    70% {
        filter: blur(6px);
    }

    75% {
        filter: blur(5px);
    }

    80% {
        filter: blur(4px);
    }

    85% {
        filter: blur(3px);
    }

    90% {
        filter: blur(2px);
    }

    95% {
        filter: blur(1.5px);
    }

    100% {
        filter: blur(1px);
    }
}

@keyframes night {
    5% {
        filter: blur(1px);
    }

    10% {
        filter: blur(1.25px);
    }

    15% {
        filter: blur(1.75px);
    }

    20% {
        filter: blur(2px);
    }

    25% {
        filter: blur(2.5px);
    }

    30% {
        filter: blur(4px);
    }

    35% {
        filter: blur(4.5px);
    }

    40% {
        filter: blur(6px);
    }

    45% {
        filter: blur(6.5px);
    }

    50% {
        filter: blur(10px);
    }

    55% {
        filter: blur(9px);
    }

    60% {
        filter: blur(8px);
    }

    65% {
        filter: blur(7px);
    }

    70% {
        filter: blur(6px);
    }

    75% {
        filter: blur(5px);
    }

    80% {
        filter: blur(4px);
    }

    85% {
        filter: blur(3px);
    }

    90% {
        filter: blur(2px);
    }

    95% {
        filter: blur(1.5px);
    }

    100% {
        filter: blur(1px);
    }
}

/* glow */
.glow-on-hover {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #ed1c25;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-weight: 600;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing_54134 20s linear infinite;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ed1c25;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing_54134 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

#servicessParts {
    bottom: 58%;
    transition: 500ms;
}

#servicessParts.fallin {
    bottom: 0;
    transition: 500ms;
}

/* circles */
.rotation-section {
    /* height: 200vh; */
    /* background: #667eea; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.circle-container {
    position: sticky;
    top: 30px;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
}

.circle {
    width: 100%;
    height: 100%;
    /* background: #ff6b6b; */
    border-radius: 50%;
    position: relative;
}

.element {
    position: absolute;
    background: white;
    border-radius: 50%;
    /* width: 60px;
    height: 60px; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold; */
}

.top {
    top: -30px;
    left: 50%;
    transform: translateX(-50%) rotate(0deg);
}

.right {
    right: -30px;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
}

.bottom {
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%) rotate(0deg);
}

.left {
    left: -30px;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
}

/* .content-section {
    padding: 100px 20px;
    background: white;
    min-height: 100vh;
    text-align: center;
} */
.rotater{
    animation: rotater 4s infinite;
    transform-origin: center center;
}
@keyframes rotater {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}


.animate__rotateOutUpRight {
  -webkit-animation-name: rotateOutUpRight;
  animation-name: rotateOutUpRight;
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
}
@-webkit-keyframes rotateOutUpRight {
  from {
    opacity: 1;
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, 90deg);
    opacity: 0;
  }
}
@keyframes rotateOutUpRight {
  from {
    opacity: 1;
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, 90deg);
    opacity: 0;
  }
}
.state-1,
.state-2,
.state-3,
.state-4{
  -webkit-animation-name: rotateOutUpRight;
  animation-name: rotateOutUpRight;
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
  opacity: 0;
}
@media(min-width:768px) {
    .back {
        background: url("../images/back.jpg");
        background-size: cover;
    }
}