@import "tailwindcss";

* {
    box-sizing: border-box !important;
}

/* Morabba Font Family */
@font-face {
    font-family: 'pinar';
    src: url('fonts/Pinar-Regular.woff2') format('woff2'),
        url('fonts/Pinar-Regular.woff') format('woff');
    font-display: swap;
}






@font-face {
    font-family: 'gotic';
    src: url('fonts/EngraversGothic BT.woff2') format('woff2'),
        url('fonts/EngraversGothic BT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gotic';
    src: url('fonts/EngraversGothic BTbold.woff2') format('woff2'),
        url('fonts/EngraversGothic BT.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'frank';
    src: url('fonts/FrankfurtGothicHeavyPlain.woff2') format('woff2'),
        url('fonts/FrankfurtGothicHeavyPlain.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'franks';
    src: url('fonts/FrankfurtGothicHeavyPSMT.woff2') format('woff2'),
        url('fonts/FrankfurtGothicHeavyPSMT.woff') format('woff');
    font-display: swap;
}



@theme {
    --color-primary: #0F0095;
    --color-secondary: #ED1C25;
    --color-primary-100: #1200B6;
    --color-primary-900: #0C0075;
    --color-garyesh: #f2f4f3;
    --font-pinar: "pinar";
    --font-gotic: "gotic";
    --font-frank:'frank';
    --font-franks:'franks';
    --my-translate: -2.5rem;
}

body {
    font-family: 'pinar';
}
.text-last-justify{
    text-align-last: justify;
    -moz-text-align-last: justify;
}
/*------------------------------------------
|
|           Menu Button 3 
|
|-----------------------------------------*/

.menu-btn-3 {
    height: 32px;
    width: 40px;
    cursor: pointer;
    scale: 0.3;
    transform: translate(0, 9px);

}

.menu-btn-3 span,
.menu-btn-3 span::before,
.menu-btn-3 span::after {
    background: #394baf;
    content: '';
    position: absolute;
    width: 40px;
    height: 6px;
    margin-top: 13px;

    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(deg);
    transform: rotate(180deg);

    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.menu-btn-3 span::before {
    margin-top: -12px;
}

.menu-btn-3 span::after {
    margin-top: 12px;
}

.menu-btn-3.open span {
    background: transparent;
}

.menu-btn-3.open span::before {
    margin-top: 0;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menu-btn-3.open span::after {
    transform: rotate(-45deg);
    margin-top: 0;
}

/* END Menu Button 3 */

/* header menu */
header.mobile {
    display: flex;
    padding: 1.2rem 1rem 1rem 2rem;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    background: linear-gradient(167deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.29) 50%, rgba(255, 255, 255, 0) 100%);
}

.main-header {
    padding: 1rem;
    width: 80%;
    position: fixed;
    top: 0;
    right: 0;
    transform: translate(100%);
    transition: 500ms;
    background-color: white;
    z-index: 5;
    height: 100vh;
    line-height: 2.8rem;
    box-shadow: 1px 1px 3px black;
}

.main-header.active {
    transform: translate(0);
    transition: 500ms;
}

.main-header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* END header menu */
/* 
    Rotate hole site bloue effect
    */
.animated-border-box-glow {
    max-height: 100vh;
    max-width: 99%;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    z-index: 0;

    /* Border Radius */
    border-radius: 10px;
}

.animated-border-box-glow {
    overflow: hidden;
    /* Glow Blur */
    filter: blur(20px);
}

.animated-border-box-glow:before {
    content: '';
    z-index: -2;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    position: absolute;
    width: 99999px;
    height: 99999px;
    background-repeat: no-repeat;
    background-position: 0 0;
    /*border color, change middle color*/
    background-image: conic-gradient(#e6f700, #edbb19, rgba(0, 0, 0, 0) 25%);
    /* change speed here */
    animation: rotate 4s linear infinite;
}

@keyframes rotate {
    100% {
        transform: translate(-50%, -50%) rotate(1turn);
    }
}



/*---------------------------------------------------------
|
|
|                   form search                  
|
|
|--------------------------------------------------------- */
.searchForm {
    width: 57%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.border {
    position: absolute;
    inset: 0;
    clip-path: inset(0 0 0 0 round calc(8 * 1px));
    border-radius: calc(8 * 1px);
    z-index: -1;
    border: 0;
}

.trail {
    width: calc(25 * 1cqmin);
    aspect-ratio: 2 / 1;
    position: absolute;
    background: radial-gradient(100% 100% at right,
            black, red,
            transparent 50%);
    offset-path: border-box;
    offset-anchor: 100% 50%;
    animation: journey 3s infinite linear;
    /* Faster: 3s instead of 6s */
}

/* Second trail - exactly opposite */
.trail-opposite {
    width: calc(25 * 1cqmin);
    aspect-ratio: 2 / 1;
    position: absolute;
    background: radial-gradient(100% 100% at right,
            black, rgb(1, 37, 134),
            transparent 50%);
    offset-path: border-box;
    offset-anchor: 100% 50%;
    animation: journey-opposite 3s infinite linear;
    offset-distance: 50%;
}

@keyframes journey {
    to {
        offset-distance: 100%;
    }
}

@keyframes journey-opposite {
    to {
        offset-distance: 150%;
    }
}

.content {
    border: calc(1 * 1px) solid transparent;
    border-radius: calc(8 * 1px);
    overflow: hidden;
}

.searchForm input {
    padding: 0 !important;
    height: 22px;
    outline: none !important;
    border: none !important;
    border-radius: calc(8 * 1px) 0 0 calc(8 * 1px) !important;
}

/* End form search  */



/* ---------------------------------------------
|
|               start 
|
----------------------------------------------*/

.start {
    color: #ffff00;
    text-shadow: 4px 2px 7px #ffff00;
}



/* pixel perfect */
.pixle-perfect {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.5;
    z-index: 100;
    display: none;
    display: block;
}


/*  */
.down-videogradiant {
    background: #ffffff;
    background: linear-gradient(182deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 1) 100%);
}

/*-------------------------------------------------
|
|
|           Desktop design 
|
|--------------------------------------------------*/
@media(min-width:768px) {

    /* header menu */
    header.mobile {
        display: none;
    }

    .main-header {
        padding: 1rem;
        position: absolute;
        z-index: 5;
        width: 100%;
        background-color: #ffffff8c;
        font-size: 1rem;
        height: auto;
        transform: translate(0);
        box-shadow: 1px 1px gray;
    }

    .main-header.scroll {
        position: fixed;
        z-index: 5;
        width: 100%;
        background-color: #ffffffe3;
        font-size: 0.8rem;
        -webkit-animation-name: slideInDown;
        -webkit-animation-duration: 1s;
        animation-name: slideInDown;
        animation-duration: 1s;
    }

    @keyframes slideInDown {
        from {
            -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
            visibility: visible;
        }

        to {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }

    .main-header>ul {
        display: flex;
        list-style: none;
    }

    .main-header ul {
        list-style: none;
        margin: 0;
        padding: 0;

    }

    .main-header a {
        color: inherit;
        text-decoration: initial;
        padding: 2rem 1rem;
        position: relative;
    }

    .main-header .sub-menu {
        display: none;
    }

    .main-header .sub-menu a {
        display: block;
    }

    .main-header>ul>li {
        position: relative;
    }

    .sub-menu a {
        padding: 0.5rem 1rem;
    }

    .main-header>ul>li>.sub-menu {
        position: absolute;
        right: 3px;
        top: 100%;
        width: 10rem;
        z-index: 5;
        background-color: #e2e2e2;
        box-shadow: 0px 2px 6px #707070;
    }

    .main-header>ul>li:hover>.sub-menu {
        display: block;
    }

    .main-header>ul>li:hover>.sub-menu>li {
        position: relative;
    }

    .main-header>ul>li>.sub-menu .sub-menu {
        min-height: auto;
        overflow: visible;
        position: absolute;
        display: none;
        flex-wrap: wrap;
        background-color: #e2e2e2;
        right: 100%;
        width: 10rem;
        top: 0;
    }

    .main-header>ul>li:hover>.sub-menu>li:hover .sub-menu {
        display: block;
    }

    /*------------------ END header  -------------------*/


}