.page-id-418{
    background-color: #ab8e6b !important;
}
.page-id-678{
    background-color: #ab8e6b !important;
}
.page-id-690{
    background-color: #C93628 !important;
}
.page-id-613{
    background-color: #C93628 !important;
}
.page-id-620{
    background-color: #393A56 !important;
}
.page-id-693{
      background-color: #393A56 !important;
}
.page-id-600{
      background-color: #602E7A !important;
}
.page-id-684{
      background-color: #602E7A !important;
}
