.page-id-418{
    background-color: #ab8e6b;
}
.page-id-678{
    background-color: #ab8e6b;
}
.page-id-690{
    background-color: #C93628;
}
.page-id-613{
    background-color: #C93628;
}
.page-id-620{
    background-color: #393A56;
}
.page-id-693{
      background-color: #393A56;
}
.page-id-600{
      background-color: #602E7A;
}
.page-id-684{
      background-color: #602E7A;
}
